<!DOCTYPE html>
<html lang="en"
      layout:decorate="base"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Control panel</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.css}"/>
</head>
<body>
<div layout:fragment="page_content">
    <h1>Admin Panel</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item active">
            <a class="nav-link active" data-bs-target="#allUsers" data-bs-toggle="tab" id="userTablePage">Users
                table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-target="#newUser" data-bs-toggle="tab" id="newUserLink">New User</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="allUsers">
            <div class="card">
                <div class="card-header"><p><strong>All Users</strong></p></div>
                <div class="p-3">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Login</th>
                            <th scope="col">Roles</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody id="usersTableBody"></tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="tab-pane" id="newUser">
            <div class="card">
                <div class="card-header"><p><strong>Add new user</strong></p></div>
                <div style="background-color: white">
                    <form>
                        <input id="idN" name="idN" type="hidden"/>
                        <input id="rolesN" name="rolesN" type="hidden"/>
                        <input id="roleListN" name="roleListN" type="hidden"/>
                        <div class="row justify-content-center">
                            <div class="col-3 mt-5">
                                <div class="d-grid gap-4 text-center">
                                    <div class="form-group">
                                        <label for="nameN"><strong>Name</strong> </label>
                                        <input class="form-control" id="nameN" name="nameN" type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastNameN"><strong>Last name</strong> </label>
                                        <input class="form-control" id="lastNameN" name="lastNameN" type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="loginN"><strong>Login</strong></label>
                                        <input class="form-control" id="loginN" name="loginN" type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="passwordN"><strong>Password</strong></label>
                                        <input class="form-control" id="passwordN" name="passwordN" type="password"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="passwordN"><strong>Password confirm</strong></label>
                                        <input class="form-control" id="passwordConfirmN" name="passwordConfirmN"
                                               type="password"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="roleSetN"><strong>Role</strong></label>
                                        <select class="form-control" id="roleSetN" multiple="multiple"
                                                name="roleSetN" size="2">
                                            <option th:each="role : ${roleSet}"
                                                    th:text="${role.name}"
                                                    th:value='|{"id":${role.id},"role":"${role.name}"}|'>
                                                USER
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary" id="create_user" name="create_user"
                                                type="button">Create User
                                        </button>
                                        <button class="btn btn-secondary" id="clear_user" name="clear_user"
                                                type="button">Clear Form
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <br/>
    <div aria-hidden="true" aria-labelledby="" class="modal fade" id="modalEdit" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit user</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input id="idE" name="idE" type="hidden"/>
                        <input id="rolesE" name="rolesE" type="hidden"/>
                        <input id="roleListE" name="roleListE" type="hidden"/>
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <div class="d-grid gap-2 text-center">
                                    <div class="form-group">
                                        <label for="loginE">Login </label>
                                        <input class="form-control" id="loginE" name="loginE" type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="passwordE">Password </label>
                                        <input class="form-control" id="passwordE" name="passwordE" type="password"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="emailE">Email </label>
                                        <input class="form-control" id="emailE" name="emailE" type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="ageE">Age</label>
                                        <input class="form-control" id="ageE" min="0" name="ageE" type="number">
                                    </div>
                                    <div class="form-group">
                                        <label for="securityRolesListE"><strong>Role</strong></label>
                                        <select class="form-control" id="securityRolesListE" multiple="multiple"
                                                name="securityRolesListE" size="2">
                                            <option th:each="str : ${securityRoleList}"
                                                    th:text="${str.role}"
                                                    th:value='|{"id":${str.id},"role":"${str.role}"}|'>
                                                USER
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="edit_button" type="button">Update</button>
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
                </div>
            </div>

        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="" class="modal fade" id="modalDelete" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete user</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input id="idD" name="idD" type="hidden"/>
                        <input id="rolesD" name="rolesD" type="hidden"/>
                        <input id="roleListD" name="roleListD" type="hidden"/>
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <div class="d-grid gap-2 text-center">
                                    <div class="form-group">
                                        <label for="loginD">Login </label>
                                        <input class="form-control" id="loginD" name="loginD" readonly type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="passwordD">Password </label>
                                        <input class="form-control" id="passwordD" name="passwordD" readonly
                                               type="password"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="emailD">Email </label>
                                        <input class="form-control" id="emailD" name="emailD" readonly type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="ageD">Age</label>
                                        <input class="form-control" id="ageD" min="0" name="ageD" readonly
                                               type="number">
                                    </div>
                                    <div class="form-group">
                                        <label for="securityRolesListD"><strong>Role</strong></label>
                                        <select class="form-control" id="securityRolesListD" multiple="multiple"
                                                name="securityRolesListD"
                                                readonly size="2">
                                            <option th:each="str : ${securityRoleList}"
                                                    th:text="${str.role}"
                                                    th:value='|{"id":${str.id},"role":"${str.role}"}|'>
                                                USER
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" id="delete_button" type="button">Delete</button>
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <hr/>

</div>
<th:block layout:fragment="page_script">
    <script th:src="@{/js/314.js}" type="text/javascript"></script>
</th:block>
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}" type="application/javascript"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}" type="application/javascript"></script>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}" type="application/javascript"></script>
</body>
</html>